*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

/***** HEADER *****/

header{
    height: 100px;
    background-color: black;
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    font-weight: 200;
}

.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: rgb(121, 121, 121);
}

#check{
    display: none;
}

/***** MAIN *****/

.img-contenedora1{
    padding: 0 50px;
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
}

.carousel-inner{
    padding: 0 50px;
    background-color: black;
    margin: auto;
}
.carousel-inner img{
    width: 100%;
}

/************nosotros**********/

.img-contenedora2{
    padding: 50px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-contenedora2 img{
    height: 300px;
}


/**********guia de talles**********/

.card-group{
    padding: 0 50px;
    width: 100%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; 
}

.card-group .informacion-card{
    background-color: rgb(207, 207, 207);
    width: 250px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: translateY(-3%);
}

.card-group .informacion-card:hover{
    transform: translateY(-15px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card-group .informacion-card img{
    width: 250px;
    height: 320px;
}

.card-group .informacion-card h5{
    font-weight: 600;
}

.card-group .informacion-card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

/*********galeria********/


.cards{
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 40%;   
}

.card{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}



.detalles{
    text-align: center;
    padding: 10px;
}

.content p{
    margin-top: 5px;
    letter-spacing: 1.5px;
}

/*********contactos********/
/*****FOOTER*****/
.instagram{
    background-color: black;
    text-align: center;
    width: 100%;
}

.informacion-segura{
    display: flex;
    font-size: 0,5rem;
    align-items: center;
    margin-left: 100px;
    font-size: 14px;

}

.informacion-segura p{
    margin-top: 35px;
    margin-left: 30px;
 
}

.informacion-segura img{
    margin-top: 15px;
}


.info ul{
    display: flex;
}


.contactos{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    
    
}

.contactos li{
    list-style-type: none;
    margin-left: 35px;
    
}

.contactos a{
    text-decoration: none;
    color: white;
}





/* RESPONSIVE */
@media(max-width: 1024px){
    .cards{
        margin-top: 50%;
    }

    .informacion-segura p{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 15px;
    }

    .informacion-segura img{
        margin-left: -50px;
    }
}
@media(max-width: 768px){
    /*HEADER*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:rgb(121, 121, 121);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }

    /*MAIN*/
    

    .cards{
        margin-top: 1000px;
        font-size: 0.8rem;
    }
    .cards h3{
        font-size: 0.9rem;
    }

    /*FOOTER*/

    .instagram img{
        height: 50px;
    }

    .info{
        flex-direction: column;
    }
    .informacion-segura p{
        margin-top: 20px;
        margin-left: 30px;
        font-size: 20px;
        
    }
    .informacion-segura{
        flex-direction: column;
        align-items: center;
        margin-left: -20px;
    }

    .info ul{
        display: flex;
    }

    .informacion-segura img{
        margin-top: 15px;
    }

    .informacion-segura p{
        margin-top: 1px;
    }

}

@media(max-width: 425px){
    /*HEADER*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:rgb(121, 121, 121);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;

    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }

    /*MAIN*/
    .img-contenedora1{
        height: 170px;
    }
    
    .carousel-inner{
        padding: 0 50px;
        background-color: black;
        margin: auto;
    }
    .carousel-inner img{
        width: 100%;
        height: 140px;
    }
    .img-contenedora2 img{
        height: 170px;
        margin-top: -40px;
    }
    .img-contenedora2 h2{
        font-size: 0.9rem;
    }
    .img-contenedora2 p{
        font-size: 0.7rem;
    }
    .cards{
        margin-top: 1700px;
    }
    .cards .card{
        width: 100px;
        gap: 10px;
    }

    .card-informacion{
        font-size: 0.5rem;
    }
    .card-group .informacion-card img{
        width: 150px;
        height: 200px;
    }

    .card-group .informacion-card{
        width: 250px;
        height: 315px;
        
    }
    

    /*FOOTER*/
    .contactos{
        width: 100%;
        display: flex;
        margin-top: 10px;
        padding-top: 10px;
        font-size: 0.7rem;   
    }

    .contactos h5{
        font-size: 0.6rem ;
    }

    .logos-contactos img{
        height: 25px;
    }

    .medios-pago img{
        height: 25px;
    }
    .informacion-segura p{
        font-size: 15px;
    }
    
}

@media(max-width: 320px){
    /*HEADER*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:rgb(121, 121, 121);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;

    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    /*MAIN*/
    .carousel-inner img{
        height: 130px;
    }

    /*FOOTER*/
    .contactos{
        width: 100%;
        display: flex;
        margin-top: 10px;
        padding-top: 10px;
        font-size: 0.5rem;   
    }

    .contactos h5{
        font-size: 0.5rem ;
    }

    .logos-contactos img{
        height: 20px;
    }

    .medios-pago img{
        height: 15px;
    }
    .informacion-segura p{
        font-size: 12px;
    }


}