@media(max-width: 1440px){
    main .card-group {
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    main .card-group .informacion-card {
      background-color: #cfcfcf;
      width: 250px;
      height: 435px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: translateY(-3%); }
    main .card-group .informacion-card:hover {
      transform: translateY(-15px);
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    main .card-group .informacion-card img {
      width: 250px;
      height: 320px; }
    main .card-group .informacion-card h5 {
      font-weight: 600; }
    main .card-group .informacion-card p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    main .card-group {
        padding: 0 50px;
        width: 100%;
        height: 950px;
        margin: auto;
      margin-left: -20px; }
    main .cards{
      margin-top: 12px;
    }

    footer .informacion-segura p{
            margin-top: 13px;
            margin-left: 19px;
            font-size: 16px;
        margin-right: 65px;}
    
    footer .informacion-segura img{
            margin-left: -70px;}
    
}